section{
    margin: 0;
    padding: 0;
    text-align: center;
}
img{
    height: 300px;
    width: 200px;
    text-align: center;
}
strong{
    color: aqua;
}
ul li{
    display: flex;
    justify-content: center;
    
}
a{
    background-color:black;
    color: aliceblue;
    height: 60px;
    width: 300px;
}